.wrapper {
	@include wrapper();
	// margin: auto;
	// width: 85%;
	// // max-width: 780px;
	// @include mq-up(md) {
	// 	margin: 0 140px;
	// }
}
.main {
	min-height: 100vh;
	>.content {
		// min-height: 100vh;
	}
}
section.intro {
	position: relative;
	height: 100vh;
	.intro-item {
		width: 80%;
		max-width: 580px;
		margin: auto;
		text-align: center;
		position: relative;
		top: 50%;
		transform: translateY(-50%);
		@include mq-up(md) {
			width: 580px;
		}
		.item-content {
			text-align: center;
			img {
				width: 100%;
			}
		}
	}
	&:before {
		content: "";
		// background: url("../assets/Soundwave@2x.png") no-repeat center center; // Fallback for when there is no custom background color defined.
		background: url("../assets/Soundwave-new@2x.png") no-repeat center center; // Fallback for when there is no custom background color defined.
		mix-blend-mode: overlay;
		position: fixed;
		width: 90%;
		height: 90%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-size: contain;
		// max-width: 780px;
		max-width: 580px;
		// max-width: 650px;
		z-index: 999999;
		pointer-events: none;
		@include mq-up(md) {
			width: 80%;
			height: 90%;
		}
	}
	.social-media {
		display: none;
		position: fixed;
		bottom: 50px;
		left: 50px;
		font-size: 50px;
		@include mq-up(md) {
			display: inline-block;
		}
	}

}
body.home {
	section.content.list-view {
		padding-top: 70px !important;
	}
}

.related-items {
	.related-meta {
		display: flex;
		>a {
			display: inline-block;
			margin: 1em 2em 1em 0;
		}
		.title {
			margin: 0.5em;
		}
	}
}
