

$color__background-body: #FDF4EF;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #fff;
$color__background-button-hover: #000;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #4169e1; //royalblue
$color__link-visited: #800080; //purple
$color__link-hover: #191970; //midnightblue
$color__text-main: #000000;
$color__text-main-inversed: #fff;
$color__text-sub: lighten($color__text-main, 40%);


$color__border-button: #000000;
$color__border-button-hover: #000000;
$color__border-button-focus: #000000;
$color__border-input: #000000;
$color__border-abbr: #000000;

:root {
  --nav-text-color: #000;
}

body.nav-color-inverse {
  --nav-text-color: #fff;
}



